.bar-graph {
  display: flex;
  margin-top: 2rem;
  a {
    flex: 1;
    display: flex;
    align-items: flex-end;
  }
  .country-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .bar-container {

      .bar {
        display: block;
        margin: auto;

        &.recycled {
          background-color: #81E217;
        }
        &.landfill {
          background-color: #ddd;
        }
        &.mismanaged {
          background-color: indianred;
        }
      }
    }
    .country-index {
      text-align: center;
      display: block;
    }
    .country-name {
      margin-top: 1rem;
      height: 2rem;
      text-align: center;
    }
  }
}

