{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "jsx-a11y/href-no-hash": "off",
    "linebreak-style": ["error", "unix"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "react/jsx-indent": ["error", 4],
    "prefer-template": 0,
    "object-curly-spacing": ["error", "never"],
    "react/jsx-indent-props": ["error", 4],
    "no-restricted-syntax": "off",
    "react/no-children-prop": "off",
    "react/prefer-stateless-function": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "react/no-array-index-key": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}
