.share {
  display: inline-block;
  padding-right: 2em;
  padding-top: 1em;
  &:last-child {
    padding-right: 0;
  }
  &:hover {
    color: #2B95FF;
    text-decoration: underline;
    img {
      //opacity: .8;
    }
  }
  img {
    vertical-align: bottom;
    width: 1.75rem;
  }
  span {
    margin-top: 1rem;
    padding-left: .5rem;
    line-height: 1.75rem;
  }
}
