.outer-top-row {
  //position: absolute;
  left: 0;
  right: 0;
  height: 100px;
  .current-time {
    position: absolute;
    bottom: 0;
    height: 120px;
    left: 50%;
    width: 1px;
    background: #F44B00;
    z-index: 1000;
    transform: translateX(-50%);
    &:after {
      content: '';
      width: calc(.5vw + 8px);
      height: calc(.5vw + 8px);
      position: absolute;
      background: #F44B00;
      border-radius: 999px;
      //margin-top: -1rem;
      transform: translate(-50%, -100%); // this is IE fix do note remove that!
      transform: translate3d(calc(-50% + 1px), -100%, 0);
    }
  }
  #visualization-top-row {
    svg {
      cursor: pointer;
    }
    height: 100%;
    .vis-panel.vis-background.vis-horizontal {
      display: none;
    }
    .vis-panel.vis-bottom {
      display: none;
    }
    .vis-timeline {
      border-bottom: none;
      .vis-bar {
        fill: #008DFF;
        stroke: #008DFF;
        stroke-width: 1;
        fill-opacity: 1;
      }
    }
  }
}
