@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  color: #313131;
  font-size: 1.6rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: normal;
}
p {
  margin-top: 0;
  margin-bottom: 2rem;
}
a {
  color: #313131;
  text-decoration: none;
}
a:hover {
  color: #7b7b7b;
}
.h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 6.0rem;
  text-transform: uppercase;
  text-shadow: #fff13d 2px 0px;
}
.h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: normal;
  font-size: 3.2rem;
}
.h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: normal;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.intro {
  font-size: 2.2rem;
  font-weight: bold;
}

/**
 * Application container
 */
.app-wrapper {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 100%;
  height: 100vh;
}
.details-container {
  box-shadow: 0 0 24px 0 rgba(178,178,178,0.5);
  min-height: 100%;
  padding: 30px;
}
.map-container {

}