.info-page {

  .info-chart {
    margin-bottom: 4rem;
  }

  .info-container {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 2rem;
    margin-bottom: 4rem;

    .h3 {
      font-family: Barlow Condensed,sans-serif;
      font-size: 4.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
      text-transform: none;
    }

    .h4 {
      font-size: 1.8rem;
      margin-top: 3.6rem;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .info-disclaimer {
    font-size: 1.6rem;
  }

  img {
    display: block;
    max-width: 100%;
  }

}